/* START: Color variable | color name: http://chir.ag/projects/name-that-color */
$DustyGray : #999999;
$Tundora: #4d4d4d;
$Dark: #333333;
$AquaIsland: #9AD2DB;
$MonteCarlo: #80C6D2;
$BodyColor: #737373;
$Flamingo: #F0532D;
$TiaMaria: #DA3710;
$Mercury: #e6e6e6;
$Alto: #dadada;
$Concrete: #f2f2f2;
$White: #ffffff;
$Tundora :#494949;
$Gray: #919191;
$AltoLight: #d9d9d9;
$Warning: #ff6d6d;
$Alabaster: #fafafa;;
/*END: Color variable*/

/* START: mobile size variable */
$md-screen : 991px;
$sm-screen : 320px;
/* END: mobile size variable */

/* START: Override HTML styling */
html { font-size: 62.5%; }  /* =10px */

body{
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    color: $BodyColor;
    h1{
        color: $Dark;
        font-weight: normal;
    }
    h2{
        font-size: 1.28571em; 
        font-weight: 400;
        color: $Dark;
    }
    
    /*START: General Theme styling*/
    .main, .sidebar {
        padding-top: 4em;
    }
    .main {
        width: 75%;
        margin-left: auto;
        padding-right: 6.84286em;
        height: 100%;
        @media(max-width: 1230px){
            width: 90%;
         }
        @media(max-width: $md-screen){
            width: 100%;
            padding-right: 0;
            padding-top: 1.5em;
         }

    }
    .md-view{
        margin: 0 auto;
        max-width: 40em;
        zoom: 1;
        @media(max-width: $md-screen){
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 1em;
         }
    }
    .wrap{
        min-height: 100%;
        @media(max-width: $md-screen){
            height: auto;
         }
    }
    /*START: General Theme styling*/

    /*START: SVG*/
    .icon-svg {
        display: inline-block;
        vertical-align: middle;
        fill: currentColor;
    }   

    .icon-svg--size-10 {
        width: 10px;
        height: 10px;
    }
    /*END: SVG*/ 

    /*START: a tag*/
    a{
        text-decoration: none;
        color: $AquaIsland;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        // text-decoration: underline;
        &:hover {
            color: $MonteCarlo;
            text-decoration: none;
        }
    }
    /*END: a tag*/
}
/* END: Override HTML styling */

/*START: Override bootstrap*/
@media (min-width: 1200px){}
.container {
    max-width: 1130px;
}
.container-fluid {
    position: absolute;
    top: 0;
    bottom: 0;
}
.row{
    min-height: 100%;
}
.modal-dialog {
    max-width: 850px;
}
.modal-content {
    border-radius: 8px;
   
}
.modal-body{
    padding: 2.5em;
    p {
        font-size: 1.14286em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }
}
.modal-header{
    padding: 2.5em;
}
.close{
    font-size: 3.0rem;
    font-weight: normal;
    color: $BodyColor;
}
/*END: Override bootstrap*/