extends default
block content
    div.checkout.component
        div.customer-information.md-view(v-if="customerInfo" v-cloak)
            <!--START: Payment method-->
            .alt-payment-wrapper
                ul.alt-payment-list
                    li.alt-payment-list-item.alt-payment-list-amazon
                        a#amazon-payment-button.amazon-payment-pay-button.alt-payment-list-link(href="javascript:void(0)")
                            img.alt-payment-list-logo(alt='Checkout with: Amazon Pay', src='http://cdn.shopify.com/s/assets/checkout/easy-checkout-btn-amazon-pay-72091bddbea7788c02d934d95d97fe6a0da7618cadc5838c40f44f190fa24442.png')
            <!--END: Payment method-->
            <!--START: Divider-->
            .payment-seperator-wrapper
                span.payment-seperator-text OR
            <!--END: Divider-->
            <!--START: Form-->
            form.guest-details-wrapper(action="GET")
                div.section.section-contact-information
                    div.form-title
                        h2 Contact information 
                    div.form-content
                        .form-group(:class="{'input-required': errors.has('email')}")
                            label.form-label Email
                            input.form-control(type="text" placeholder="Email" v-validate="'required|email'" name="email" data-error-msg="Please enter a valid email address")
                            span.required-msg(v-text="errors.first('email')" v-cloak)
                        .form-check
                            label.form-check-wrapper(for='exampleCheck1') Subscribe to our newsletter
                                input#exampleCheck1.form-check-input(type='checkbox')
                                span.checkmark
                div.section.section-shipping-information
                    div.form-title
                        h2 Shipping address
                    div.form-content
                        .form-row
                            .col-12.col-lg-6
                                .form-group(:class="{'input-required': errors.has('firstname')}")
                                    label.form-label First name
                                    input.form-control(type="text" placeholder="First name" v-validate="'required'" name="firstname" data-error-msg="Please enter your first name")
                                    span.required-msg(v-text="errors.first('firstname')" v-cloak)
                            .col-12.col-lg-6
                                .form-group(:class="{'input-required': errors.has('lastname')}")
                                    label.form-label Last name
                                    input.form-control(type="text" placeholder="Last name" v-validate="'required'" name="lastname" data-error-msg="Please enter your last name")
                                    span.required-msg(v-text="errors.first('lastname')" v-cloak)
                        .form-group
                            label.form-label Company (optional)
                            input.form-control(type="text" name="company" placeholder="Company (optional)")
                        .form-group(:class="{'input-required': errors.has('address')}")
                            label.form-label Address
                            input.form-control(type="text" placeholder="Address" v-validate="'required'" name="address" data-error-msg="Please enter your address")
                            span.required-msg(v-text="errors.first('address')" v-cloak)
                        .form-group
                            label.form-label Apartment, suite, etc. (optional)
                            input.form-control(type="text" name="apartment" placeholder="Apartment, suite, etc. (optional)")
                        .form-group(:class="{'input-required': errors.has('city')}")
                            label.form-label City
                            input.form-control(type="text" placeholder="City" v-validate="'required'" name="city" data-error-msg="Please enter your city")
                            span.required-msg(v-text="errors.first('city')" v-cloak)
                        .form-row
                            .col-12.col-lg-4
                                .form-group.selector
                                    img.icon-arrow(src='http://cdn.shopify.com/s/assets/checkout_2017-09-19/dropdown-arrow-down-dark-897436d82dac77140094e5b5e0808a72be7ce401ade151e8018d582fa9ad407f.svg')
                                    label(for="inputCountry").form-label.selection Country
                                    select.form-control#inputCountry
                                        option(selected) United States
                                        option Canada
                            .col-12.col-lg-4
                                .form-group.selector(:class="{'input-required': errors.has('state')}")
                                    img.icon-arrow(src='http://cdn.shopify.com/s/assets/checkout_2017-09-19/dropdown-arrow-down-dark-897436d82dac77140094e5b5e0808a72be7ce401ade151e8018d582fa9ad407f.svg')
                                    label(for="inputState").form-label.selection State
                                    select.form-control#inputState(name='state', v-validate="'required'", data-error-msg='Please enter your state')
                                        option(value='', disabled='', selected) State
                                        option(data-code='AL', value='Alabama') Alabama
                                        option(data-code='AK', value='Alaska') Alaska
                                        option(data-code='AS', value='American Samoa') American Samoa
                                        option(data-code='AZ', value='Arizona') Arizona
                                        option(data-code='AR', value='Arkansas') Arkansas
                                        option(data-code='CA', value='California') California
                                        option(data-code='CO', value='Colorado') Colorado
                                        option(data-code='CT', value='Connecticut') Connecticut
                                        option(data-code='DE', value='Delaware') Delaware
                                        option(data-code='DC', value='District of Columbia') District of Columbia
                                        option(data-code='FM', value='Federated States of Micronesia') Federated States of Micronesia
                                        option(data-code='FL', value='Florida') Florida
                                        option(data-code='GA', value='Georgia') Georgia
                                        option(data-code='GU', value='Guam') Guam
                                        option(data-code='HI', value='Hawaii') Hawaii
                                        option(data-code='ID', value='Idaho') Idaho
                                        option(data-code='IL', value='Illinois') Illinois
                                        option(data-code='IN', value='Indiana') Indiana
                                        option(data-code='IA', value='Iowa') Iowa
                                        option(data-code='KS', value='Kansas') Kansas
                                        option(data-code='KY', value='Kentucky') Kentucky
                                        option(data-code='LA', value='Louisiana') Louisiana
                                        option(data-code='ME', value='Maine') Maine
                                        option(data-code='MH', value='Marshall Islands') Marshall Islands
                                        option(data-code='MD', value='Maryland') Maryland
                                        option(data-code='MA', value='Massachusetts') Massachusetts
                                        option(data-code='MI', value='Michigan') Michigan
                                        option(data-code='MN', value='Minnesota') Minnesota
                                        option(data-code='MS', value='Mississippi') Mississippi
                                        option(data-code='MO', value='Missouri') Missouri
                                        option(data-code='MT', value='Montana') Montana
                                        option(data-code='NE', value='Nebraska') Nebraska
                                        option(data-code='NV', value='Nevada') Nevada
                                        option(data-code='NH', value='New Hampshire') New Hampshire
                                        option(data-code='NJ', value='New Jersey') New Jersey
                                        option(data-code='NM', value='New Mexico') New Mexico
                                        option(data-code='NY', value='New York') New York
                                        option(data-code='NC', value='North Carolina') North Carolina
                                        option(data-code='ND', value='North Dakota') North Dakota
                                        option(data-code='MP', value='Northern Mariana Islands') Northern Mariana Islands
                                        option(data-code='OH', value='Ohio') Ohio
                                        option(data-code='OK', value='Oklahoma') Oklahoma
                                        option(data-code='OR', value='Oregon') Oregon
                                        option(data-code='PW', value='Palau') Palau
                                        option(data-code='PA', value='Pennsylvania') Pennsylvania
                                        option(data-code='PR', value='Puerto Rico') Puerto Rico
                                        option(data-code='RI', value='Rhode Island') Rhode Island
                                        option(data-code='SC', value='South Carolina') South Carolina
                                        option(data-code='SD', value='South Dakota') South Dakota
                                        option(data-code='TN', value='Tennessee') Tennessee
                                        option(data-code='TX', value='Texas') Texas
                                        option(data-code='UT', value='Utah') Utah
                                        option(data-code='VT', value='Vermont') Vermont
                                        option(data-code='VI', value='Virgin Islands') Virgin Islands
                                        option(data-code='VA', value='Virginia') Virginia
                                        option(data-code='WA', value='Washington') Washington
                                        option(data-code='WV', value='West Virginia') West Virginia
                                        option(data-code='WI', value='Wisconsin') Wisconsin
                                        option(data-code='WY', value='Wyoming') Wyoming
                                        option(data-code='AA', value='Armed Forces Americas') Armed Forces Americas
                                        option(data-code='AE', value='Armed Forces Europe') Armed Forces Europe
                                        option(data-code='AP', value='Armed Forces Pacific') Armed Forces Pacific
                                    span.required-msg(v-text="errors.first('state')" v-cloak)
                            .col-12.col-lg-4
                                .form-group(:class="{'input-required': errors.has('postal')}")
                                    label.form-label Postal code
                                    input.form-control(type="text" placeholder="Postal code" v-validate="'required'" name="postal" data-error-msg="Please enter your zip / postal code and Please enter a valid zip / postal code for , United States")
                                    span.required-msg(v-text="errors.first('postal')" v-cloak)
                        .form-group(:class="{'input-required': errors.has('phone')}")
                            label.form-label Phone (required)
                            input.form-control(type="text" placeholder="Phone (required)" v-validate="'required'" name="phone" data-error-msg="Please enter a valid phone number")
                            span.required-msg(v-text="errors.first('phone')" v-cloak)
                        .form-check.save-next-time
                            label.form-check-wrapper(for='exampleCheck2') Save this information for next time
                                input#exampleCheck2.form-check-input(type='checkbox')
                                span.checkmark
                div.section.section-cta
                    button.btn.btn-continue(type="submit" v-on:click="onShippingMethod") Continue to shipping method
            <!--END: Form-->
        div.shipping-information.md-view(v-if="shippingMethod" v-cloak)
            <!--START: shipping address-->
            div.shipping-address-wrapper
                div.d-flex
                    p.title-lable Shipping address
                    p.address address default
                    p.edit-address 
                        a(href="#" v-on:click="onEditAddress") Edit
            <!--END: shipping address-->
            <!--START: shipping method-->
            div.shipping-method-wrapper
                h2 Shipping method
                div.method-option-component
                    div.d-flex.method-option-selection
                        label.method-option Free Ground Shipping
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="shipping" checked)
                            span.checkmark
                        label.shipping-fees Free
                    div.d-flex.method-option-selection
                        label.method-option Alaska and Hawaii Shipping
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="shipping")
                            span.checkmark
                        label.shipping-fees $45.00
                    div.d-flex.method-option-selection
                        label.method-option Flat Rate Shipping
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="shipping")
                            span.checkmark
                        label.shipping-fees $75.00
            <!--END: shipping method-->
            <!--START: CTA-->
                div.section.section-cta.d-flex
                    a.previoua-link-cta(href="#" v-on:click="onEditAddress")
                        svg.icon-svg.icon-svg--color-accent.icon-svg--size-10.previous-link-icon(focusable='false', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10 10')
                            path(d='M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4')
                        span.previos-link Return to customer information                   
                    button.btn.btn-continue.ml-auto(type="submit" v-on:click="onPaymentMethod") Continue to payment method
            <!--END: CTA-->
        div.payment-information.md-view(v-if="paymentMethod" v-cloak)
            <!--START: shipping address-->
            div.shipping-address-wrapper
                div.d-flex
                    p.title-lable Shipping address
                    p.address test, 300 College Avenue, test, Los Gatos AK 99501, United States
                    p.edit-address 
                        a(href="#" v-on:click="onEditAddress") Edit
                hr.seperator
                div.d-flex
                    p.title-lable Shipping method
                    p.address.shipping-method Free Ground Shipping · Free
                    p.edit-address 
                        a(href="#" v-on:click="onEditShipping") Edit
            <!--END: shipping address-->
            <!--START: payment method-->
            div.payment-method-wrapper
                h2 Payment method
                p All transaction are secure and encrypted.
                div.method-option-component#credit-card-accordian
                    div.d-flex.method-option-selection(id="credit-card-header")
                        label.method-option.credit-card(data-toggle="collapse" data-target="#credit-card" aria-expanded="true" aria-controls="credit-card") Credit card
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="payment" checked)
                            span.checkmark
                        div.shipping-fees
                            ul.known
                                li.payment-icon.payment-icon--visa.selected(data-payment-icon='visa')
                                li.payment-icon.payment-icon--master(data-payment-icon='master')
                                li.payment-icon.payment-icon--american-express(data-payment-icon='american-express')
                                li.payment-icon.payment-icon--discover(data-payment-icon='discover')
                                li.payment-icon-list__more
                                    span.content-box__small-text
                                        | and more…
                    div.credit-card-wrapper(id="credit-card" class="collapse show" aria-labelledby="credit-card-header" data-parent="#credit-card-accordian")
                        .form-group(:class="{'input-required': errors.has('ccnumber')}")
                            label.form-label Card number
                            input.form-control(type="number" placeholder="Card number" v-validate="'required'" name="ccnumber" data-error-msg="Please enter a valid credit card number")
                            i.credit-card-lock-icon.credit-card-icon
                            span.required-msg(v-text="errors.first('ccnumber')" v-cloak)
                        .form-row
                            .col-12.col-lg-4
                                .form-group(:class="{'input-required': errors.has('ccname')}")
                                    label.form-label Cardholder name
                                    input.form-control(type="text" placeholder="Cardholder name" v-validate="'required'" name="ccname" data-error-msg="Please enter your name as it appears on the card")
                                    span.required-msg(v-text="errors.first('ccname')" v-cloak)
                                    
                            .col-12.col-lg-4
                                .form-group(:class="{'input-required': errors.has('ccexpiry')}")
                                    label.form-label MM / YY
                                    input.form-control(type="text" placeholder="MM / YY" v-validate="'required'" name="ccexpiry" data-error-msg="Please enter a valid expiry date")
                                    span.required-msg(v-text="errors.first('ccexpiry')" v-cloak)
                            .col-12.col-lg-4
                                .form-group(:class="{'input-required': errors.has('cccvv')}")
                                    label.form-label CVV
                                    input.form-control(type="text" placeholder="CVV" v-validate="'required'" name="cccvv" data-error-msg="Please enter the CVV")
                                    i.credit-card-cvv-icon.credit-card-icon.tooltip
                                        span.tooltiptext 3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                    span.required-msg(v-text="errors.first('cccvv')" v-cloak)
                                    

                    div.d-flex.method-option-selection(id="amazon-header")
                        label.method-option.collapsed(data-toggle="collapse" data-target="#amazon" aria-expanded="false" aria-controls="amazon") 
                            img.payment-img(alt="Amazon pay" src="http://cdn.shopify.com/s/assets/checkout/offsite-gateway-logos/amazonpay@2x-6ed2b0ce5c20dfd0dc87f9363f0a57ecf9bb4e4fde26df79b3da96e6480cebd4.png")
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="payment" )
                            span.checkmark
                    div.credit-card-wrapper(id="amazon" class="collapse" aria-labelledby="amazon-header" data-parent="#credit-card-accordian")
                        div.third-party-payment
                            i.icon-offsite
                            p You will be asked to login with Amazon.
                    
                    div.d-flex.method-option-selection(id="affirm-header")
                        label.method-option(data-toggle="collapse" data-target="#affirm" aria-expanded="false" aria-controls="affirm")  
                            img.payment-img(alt="Affirm" src="http://cdn.shopify.com/s/assets/checkout/offsite-gateway-logos/affirm@2x-e93fcaa0888dd0b88d929ba22a8a40eb8c8712a673cd0d84b065986554ef0f99.png")
                            input.form-check-input(type="radio" value="FreeGroundShipping" name="payment" )
                            span.checkmark
                    div.credit-card-wrapper(id="affirm" class="collapse" aria-labelledby="affirm-header" data-parent="#credit-card-accordian")
                        div.third-party-payment
                            i.icon-offsite
                            p To apply for Affirm financing, click "Complete Order" below. You will be redirected to Affirm to complete your purchase securely.
            <!--END: payment method-->
            <!--START: Billing method-->
            div.payment-method-wrapper
                h2 Billing 
                p All transaction are secure and encrypted.
                div.method-option-component#shipping-accordian
                    div.d-flex.method-option-selection(id="sameAddress-header")
                        label.method-option.credit-card(data-toggle="collapse" data-target="#sameAddress" aria-expanded="false" aria-controls="sameAddress") Same as shipping address
                            input.form-check-input(type="radio" value="same" name="billing" checked)
                            span.checkmark
                    div.shipping-wrapper(id="sameAddress" class="collapse" aria-labelledby="sameAddress-header" data-parent="#shipping-accordian")
                    div.d-flex.method-option-selection(id="diffAddress-header")
                        label.method-option.credit-card.collapsed(data-toggle="collapse" data-target="#diffAddress" aria-expanded="false" aria-controls="diffAddress") Use a different billing address
                            input.form-check-input(type="radio" value="different" name="billing")
                            span.checkmark
                    div.shipping-wrapper(id="diffAddress" class="collapse" aria-labelledby="diffAddress-header" data-parent="#shipping-accordian")
                        div.different-address(v-if="differentAddress")
                            div.form-content
                                .form-row
                                    .col-12.col-lg-6
                                        .form-group(:class="{'input-required': errors.has('billing-firstname')}")
                                            label.form-label First name
                                            input.form-control(type="text" placeholder="First name" v-validate="'required'" name="billing-firstname" data-error-msg="Please enter your first name")
                                            span.required-msg(v-text="errors.first('billing-firstname')" v-cloak)
                                    .col-12.col-lg-6
                                        .form-group(:class="{'input-required': errors.has('billing-lastname')}")
                                            label.form-label Last name
                                            input.form-control(type="text" placeholder="Last name" v-validate="'required'" name="billing-lastname" data-error-msg="Please enter your last name")
                                            span.required-msg(v-text="errors.first('billing-lastname')" v-cloak)
                                .form-group
                                    label.form-label Company (optional)
                                    input.form-control(type="text" name="company" placeholder="Company (optional)")
                                .form-group(:class="{'input-required': errors.has('billing-address')}")
                                    label.form-label Address
                                    input.form-control(type="text" placeholder="Address" v-validate="'required'" name="billing-address" data-error-msg="Please enter your address")
                                    span.required-msg(v-text="errors.first('billing-address')" v-cloak)
                                .form-group
                                    label.form-label Apartment, suite, etc. (optional)
                                    input.form-control(type="text" name="apartment" placeholder="Apartment, suite, etc. (optional)")
                                .form-group(:class="{'input-required': errors.has('billing-city')}")
                                    label.form-label City
                                    input.form-control(type="text" placeholder="City" v-validate="'required'" name="billing-city" data-error-msg="Please enter your city")
                                    span.required-msg(v-text="errors.first('billing-city')" v-cloak)
                                .form-row
                                    .col-12.col-lg-6
                                        .form-group.selector
                                            img.icon-arrow(src='http://cdn.shopify.com/s/assets/checkout_2017-09-19/dropdown-arrow-down-dark-897436d82dac77140094e5b5e0808a72be7ce401ade151e8018d582fa9ad407f.svg')
                                            label(for="billing-inputCountry").form-label.selection Country
                                            select.form-control#billing-inputCountry
                                                option(selected) Singapore
                                                option Canada
                                    .col-12.col-lg-6
                                        .form-group(:class="{'input-required': errors.has('billing-postal')}")
                                            label.form-label Postal code
                                            input.form-control(type="text" placeholder="Postal code" v-validate="'required'" name="billing-postal" data-error-msg="Please enter your zip / postal code and Please enter a valid zip / postal code for , United States")
                                            span.required-msg(v-text="errors.first('billing-postal')" v-cloak)
                                .form-group(:class="{'input-required': errors.has('billing-phone')}")
                                    label.form-label Phone (required)
                                    input.form-control(type="text" placeholder="Phone (required)" v-validate="'required'" name="billing-phone" data-error-msg="Please enter a valid phone number")
                                    span.required-msg(v-text="errors.first('billing-phone')" v-cloak)
            <!--END: Billing method-->
            <!--START: CTA-->
                div.section.section-cta.d-flex
                    a.previoua-link-cta(href="#" v-on:click="onEditShipping")
                        svg.icon-svg.icon-svg--color-accent.icon-svg--size-10.previous-link-icon(focusable='false', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10 10')
                            path(d='M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4')
                        span.previos-link Return to shipping method                 
                    button.btn.btn-continue.ml-auto(type="submit" v-on:click="onCompleteOrder") Complete order
            <!--END: CTA-->

