doctype html
block variables

html(lang='')
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		// build:css assets/css/main.css
		link(rel='stylesheet', href='assets/css/main.css')
		// endbuild
	body
		.container-fluid
			.row
				.col-12.col-lg-7.px-0.wrap
					.main.d-flex.flex-column
						include ../html/template/navigation.pug
						include ../html/template/sidebar-mobile.pug
						block content
						include ../html/template/footer.pug
				.col-12.col-lg-5.px-0.wrap
					.sidebar.d-none.d-md-none.d-lg-block
						include ../html/template/sidebar.pug

		script(src='https://unpkg.com/vee-validate@latest')
		// build:js assets/js/main.js
		script(src='node_modules/jquery/dist/jquery.js')
		script(src='node_modules/vue/dist/vue.js')
		script(src='node_modules/dist/vee-validate.js')
		script(src="node_modules/popper.js/dist/umd/popper.js")
		script(src="node_modules/bootstrap/dist/js/bootstrap.js")
		script(src='assets/js/main.js')
		// endbuild
		

		