.checkout.component {
    color: black;
    padding-bottom: 4em;
    @media(max-width: $md-screen){
        padding-bottom: 1.5em;
     }
    .section.section-cta{
        margin-top: 1.5em;
        text-align: right;
        position: relative;
        .btn.btn-continue {
            font: inherit;
            font-weight: 500;
            padding: 1.4em 1.7em;
            background: $Flamingo;
            color: white;
            display: inline-block;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            position: relative;
            -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
            &:hover{
                background: $TiaMaria;
                color: white;
            }
            @media(max-width: $md-screen){
                width: 100%;
             }
        }
        .previoua-link-cta{
            text-align: left;
            align-self: center;
            .previous-link-icon{
                -webkit-transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
                transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
            }
            &:hover{
                .previous-link-icon{
                    -webkit-transform: translateX(-5px);
                    transform: translateX(-5px);
                }
            }
            @media(max-width: $md-screen){
                position: absolute;
                bottom: 0;  
                text-align: center;
                width: 100%;
             }
        }
        .previos-link{
            margin-left: 0.25em;
        }
        @media(max-width: $md-screen){
            padding-bottom: 30px
         }
    }

    .shipping-address-wrapper {
        background-color: $Alabaster;
        border-radius: 4px;
        border: 1px solid $AltoLight;
        padding: 0.85714em 1.14286em;
        margin-top: 1.78571em;
        .title-lable{
            color: $Tundora;
            font-weight: 500;
            padding-right: 1.14286em;
            -webkit-box-flex: 1.1;
            -webkit-flex: 1.1;
            -ms-flex: 1.1;
            flex: 1.1;
        }
        .address{
            -webkit-box-flex: 3;
            -webkit-flex: 3;
            -ms-flex: 3;
            flex: 3;
            color: $DustyGray;
            padding-right: 1.14286em;
            @media(max-width: 320px){
                padding: 0;
            }
        }
        .edit-address{
            max-width: 10em;
            font-size: 0.85714em;
        }
        p{
            margin-bottom: 0;
        }
    }

    .method-option-component{
        margin-top: 2.5em;
        border: 1px solid $AltoLight;
        border-radius: 4px;
        .method-option-selection{
            padding: 1.14286em 1.14286em 0.85714em 1.14286em ;
            &:not(:last-child){
                border-bottom: 1px solid $AltoLight;
            }

            .method-option {
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                margin: 0;
                input{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .checkmark{
                        background-color: $AquaIsland;
                        &:after{
                            display: block;
                        }
                    }
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    background-color: $White;
                    border-radius: 50%;
                    border: 1px solid $AltoLight;
                    -webkit-box-shadow: 0 0 0 0 $AquaIsland inset;
                    box-shadow: 0 0 0 0 $AquaIsland inset;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    &:after{
                        content: "";
                        position: absolute;
                        display: none;
                        top: 6px;
                        left: 6px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: $White;
                    }
                }
            }


            .shipping-fees{
                margin-left: auto;
                font-weight: 500;
                color: $Tundora;
            }
            .form-check{
                padding-right: 0.75em;
                .form-check-input{
                    -webkit-box-shadow: 0 0 0 0 #9ad2db inset;
                    box-shadow: 0 0 0 0 #9ad2db inset;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        &#shipping-accordian {
            border-bottom: 0;
        }
    }
    

    .form-check{
        padding-left: 0;
        &.save-next-time{
            padding-top: 0.8em;
        }
        .form-check-wrapper {
            display: block;
            position: relative;
            padding-left: 2em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: $BodyColor;
            input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .checkmark {
                    background-color: $AquaIsland;
                    &:after{
                        display: block;
                    }
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: $White;
                border: 1px solid $AltoLight;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 0 #9ad2db inset;
                box-shadow: 0 0 0 0 #9ad2db inset;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                vertical-align: -4px;
                outline: 0;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 6px;
                    top: 3px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    
                }
            }
            
        }
    }
    .form-row {
        .form-group{
            &.selector{
                &:before{
                    background: red;
                }
                .icon-arrow{
                    position: absolute;
                    right: 15px;
                    top: 12px;
                }

            }
            .form-label.selection{
                opacity: 1;
                margin: 0;
            }
            select {
                padding-top: 1.5em;
                padding-bottom: 0.38em;
                height: 42px;
            }
            &:before{
                background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/dropdown-arrow-down-dark-28046c8….png);
                background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/dropdown-arrow-down-dark-897436d….svg),none;
            }
        }
    }

    .customer-information {
        .alt-payment-wrapper {
            padding-top: 0.7em;
            .alt-payment-list{
                margin: 0;
                padding: 0;
                .alt-payment-list-item{
                    display: inline-block;
                    margin: 0.5em 0 0.5em 0.5em;
                    border-radius: 4px;
                    -webkit-transition: background-color 0.2s ease-in-out;
                    transition: background-color 0.2s ease-in-out;
                    &:first-child{
                        margin-left: 0;
                    }
                    &.alt-payment-list-amazon{
                        background-color: #fad676;
                        &:hover{
                            background-color: #f9ca4f;
                        }
                    }
                    .alt-payment-list-link{
                        display: block;
                        min-width: 150px;
                        padding: 0.85714em 0;
                        .alt-payment-list-logo {
                            display: block;
                            margin: 0 auto;
                            width: auto;
                            height: 1.28571em;
                            -webkit-transform: translateY(0.28571em);
                            transform: translateY(0.28571em);
                        }
                    }
                }
            }
        }
        .payment-seperator-wrapper{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            font-size: 0.85714em;
            line-height: 1.4;
            text-align: center;
            text-transform: uppercase;
            color: #999999;
            margin-top: 1.2em;
            margin-bottom: 2em;
            &:before{
                content: '';
                display: inline-block;
                height: 1px;
                background: #e6e6e6;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }
            .payment-seperator-text {
                display: inline-block;
                padding: 0 1em;
            }
            &:after{
                content: '';
                display: inline-block;
                height: 1px;
                background: #e6e6e6;
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }
        }
        .guest-details-wrapper{
            .form-title h2 {
                margin-bottom: 21px;
            }
            .section.section-shipping-information{
                padding-top: 2.7em;
                
            }
            
        }
    }
    .shipping-information {
        margin-top: 1.78571em;
        @media(max-width: 375px){
            margin-bottom: 10em;
        }
        .shipping-method-wrapper{
            margin-top: 3em;
        }
    }
    .payment-information{
        @media(max-width: $md-screen){
            margin-top: 2em;
         }
        .payment-method-wrapper{
            margin-top: 3em;
            .credit-card {
                font-weight: 500;
                color: #4d4d4d;
            }
            .known{
                margin: 0;
                padding: 0;
                list-style-type: none;
                .payment-icon {
                    display: inline-block;
                    width: 38px;
                    height: 24px;
                    -webkit-transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
                    transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
                    -webkit-backface-visibility: hidden;
                }
            }
            .payment-icon--visa {
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/visa-e5bb9ed6e55d7351774b2989db708125c012b93faaefd3b620aae1493ca5c76c.png);
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/visa-104fe31176c68b0293cf54cfcee1f2ab564def635d065b0260e17e80aae139ee.svg),none;
            }
            .payment-icon--master {
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/master-b3e9556358eab118e528bd537b2a5b8291bd33fa66a42fe85787e80352e4e383.png);
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/master-c32dfa3399907a3e21ae77f834e052b862ad7f0b33a085ddd74d6337c868793e.svg),none;
            }
            .payment-icon--american-express {
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/american_express-4fbb62cc9099f46b5b6613dcc37fb22915ac54e62f1373e98b1c739bedb4b914.png);
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/american_express-b6b211368d19a429ac2d4dedf304c8622338870747b20d79d9775a0ce1d8ac63.svg),none;
            }
            .payment-icon--discover {
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/discover-3fabcda303997ec75319067abbfd77b8a2950da7d692b538f4dc13063a3c9d52.png);
                background-image: url(http://cdn.shopify.com/s/assets/payment_icons/discover-c076f02bb17de06b93c754a81cdf60f5e0732653b5df3c575cd93214c1d809f9.svg),none;
            }
            .payment-icon-list__more {
                vertical-align: middle;
                margin-top: -15px;
                margin-left: 0.25em;
                display: inline-block;
                color: $DustyGray;
                font-size: 0.85714em;
            }
            .credit-card-wrapper{
                background-color: $Alabaster;
                padding: 1.14286em 1.14286em 0.20286em 1.14286em;
                border-bottom: 1px solid $AltoLight;
                .credit-card-icon {
                    display: block;
                    height: 40px;
                    margin-top: -20px;
                    position: absolute;
                    top: 50%;
                    width: 40px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    right: 0;
                    cursor: pointer;
                }
                .credit-card-lock-icon{
                    background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/lock-dark-9d440d8ff502d2c6f2d8cae2988976a0d3c469eef6c698c2dcb02d25514a648b.png);
                    background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/lock-dark-de39883b46c741577c3c9d4941ac2984a8bd8f1394ba3a612d1be7f290b06bb9.svg),none;
                }
                .credit-card-cvv-icon{
                    background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/question-dark-5e2264692c897e8b30e7b356eb7b4dce1711661d506805ec70d341f360f04724.png);
                    background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/question-dark-99772247322bb05f8b0ad6e73a9526bd58c6bc6757412cb93fd38081bf9dd5dc.svg),none;
                }
                &:last-child {
                    border-bottom: 0;
                    border-top: 1px solid $AltoLight;
                }
            }
            .shipping-wrapper{
                &:last-child {
                    border-bottom: 1px solid $AltoLight;
                }
                .different-address {
                    background-color: $Alabaster;
                    padding: 1.14286em;
                }
                


            }
            .payment-img{
                height: 24px;
                display: block;
                margin-top: -2px;
            }
            .icon-offsite{
                width: 163px;
                height: 81px;
                background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/offsite-8cec89458c6a416094bb72f0e2edff4735c4daaf21689fd3a18cd682ee214d9a.png);
                background-image: url(http://cdn.shopify.com/s/assets/checkout_2017-09-19/offsite-9b0bf7cf5a29f6fd7d82db745294b9dbf677f1a217328ad05017bb33cf28d4f1.svg),none;
                background-position: center center;
                background-repeat: no-repeat;
                display: inline-block;
            }
            .third-party-payment{
                text-align: center;
                padding: 1.14286em 4.5em;
            }
            #affirm-header{
                border-bottom: none;
            }
        }
    }

    .form-group{
        margin-bottom: 0.94em;
        position: relative;
        &.input-required {
            .form-control{
                box-shadow: 0 0 0 2px $Warning;
            }
            .required-msg {
                display: block;
                line-height: 1.3em;
                margin: 0.75em 0 0.25em;
                color: $Warning;
                font-size: 0.85714em;
            }
            .credit-card-icon {
                top: 31% !important;
            }
        }
        &.focused {
            .form-label {
                -webkit-transform: none;
                transform: none;
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: alpha(opacity=100);
            }
            .form-control{
                padding-top: 1.5em;
                padding-bottom: 0.38em;
            }
        }
        .form-label {
            color: $DustyGray;
            font-size: 0.85714em;
            font-weight: normal;
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 0.3em;
            padding: 0 0.93333em;
            z-index: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transform: translateY(3px);
            transform: translateY(3px);
            pointer-events: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            transition: all 0.2s ease-out;
        }
        .form-control {
            box-shadow: 0 0 0 1px $AltoLight;
            transition: all 0.2s ease-out;
            background-color: white;
            color: #333333;
            border-radius: 4px;
            display: block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 0.94em 0.8em;
            word-break: normal;
            font: inherit;
            margin: 0;
            -webkit-appearance: none;
            -webkit-font-smoothing: inherit;
            border: none;
            line-height: normal;
            &:focus {
                -webkit-box-shadow: 0 0 0 2px $AquaIsland;
                box-shadow: 0 0 0 2px $AquaIsland;
            }
        }
        .tooltip {
            position: relative;
            display: inline-block;
            opacity: 1;
            font-size: 0.85714em;
            
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 180px;
            background-color: rgba(51,51,51,0.9);
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 0.75em 1em;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: -70px;
            @media(max-width: $md-screen){
                display: none;
            }
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                right: 85px;
                width: 0;
                border: 6px solid transparent;
                border-top-color: rgba(51,51,51,0.9);
            }
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }
}