/*START: Footer*/
.footer.component {
    padding: 1em 0;
    @media(max-width: $md-screen) {
        padding: 1em 0em;
        margin: 0 auto;
        width: 100%;
    }
    div {
        ul.policy-list {
            border-top: 1px solid $Mercury;
            margin: 0em 1em;
            margin-bottom: 0;
            padding-left: 0;
            padding-top: 1em;
            list-style-type: none;
            li.policy-item {
                display: inline-flex;
                font-size: 0.85714em;
                margin-right: 1.5em;
                margin-bottom: 0.5em;
                @media(max-width: $md-screen) {
                    margin-right: 0.4em;
                }
            }
        }
    }
}
/*END: Footer*/