/*START: header*/
.main-header.component {
    .brand-logo {
        display: inline-block;
        max-height: 2.85714em;
        @media(max-width: $md-screen){
            max-height: 2.14286em;
        }
    }
    .breadcrumb-wrapper {
        margin-top: 1em;
        .breadcrumb{
            background-color: inherit;
            padding: 0.143em 0 0 0; 
            .breadcrumb-selection{
                color: $DustyGray;
                font-size: 0.85714em;
                padding: 0;
                &.breadcrumb-active{
                    color: $Tundora;
                    font-weight: 500;
                }
                &.step-submitted{
                    font-weight: normal;
                    color: $AquaIsland;
                }
                .breadcrumb__chevron-icon {
                    color: $DustyGray;
                    margin: 0 0.65em;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                }
            }
            
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    display: none;
}
/*END: header*/