/*START: sidebar desktop*/
.sidebar:before {
    content: '';
    background-color: $Concrete;
    display: block;
    width: 100%;
    left: -2.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-left: 1px solid $Alto;
}

.sidebar {
    background: $Concrete;
    border-left: 1px solid $Concrete;
    height: 100%;
}

.sidebar-wrapper.component {
    padding-left: 0.7143em;
    width: 75%;
    padding-top: 0.8em;
    margin: 0;
    @media(max-width: $md-screen){
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin: 0 auto;
     }
    .order-summary-header-wrapper {
        display: flex;
        border-bottom: 1px solid $Alto;
        padding-bottom: 1.5em;
        .product-img-wrapper {
            background-color: $White;
            width: 4.6em;
            height: 4.6em;
            border-radius: 8px;
            border: 1px solid $Alto;
            position: relative;
            .product-img {
                width: 100%;
            }
            .product-quantity {
                font-size: 0.85714em;
                font-weight: 500;
                white-space: nowrap;
                padding: 0.15em 0.65em;
                border-radius: 2em;
                background-color: rgba(153, 153, 153, 0.9);
                color: #fff;
                position: absolute;
                right: -0.75em;
                top: -0.75em;
                z-index: 3;
            }
        }
        .product-description-wrapper {
            max-width: 250px;
            padding-left: 1.2em;
            padding-top: 0.35em;
            @media(max-width: $md-screen){
                max-width: 180px;
             }
             @media(max-width: $sm-screen){
                max-width: 140px;
             }
            .product-name {
                color: $Tundora;
                font-weight: 500;
                font-size: 1em;
                display: block;
            }
            .product-desc {
                color: $Gray;
                font-size: 0.85714em;
                display: block;
            }
        }
        .product-price-wrapper {
            margin-top: 1.6428em;
            .product-price {
                color: $Tundora;
                font-weight: 500;
                font-size: 1em;
                display: block;
            }
        }
    }
    .order-summary-note-wrapper {
        .order-summary-note-component {
            max-width: 100%;
            margin-top: 2.5em;
            padding: 1.07143em;
            padding-bottom: 2.14286;
            background: #FCFCFC;
            border: 1px solid #FCFCFC;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            color: $Tundora;
            .note-thumbnail {
                height: 10px;
            }
            .more-info-list {
                padding-left: 0.2em;
                padding-right: 2em;
                .more-info-item {
                    margin-left: 1.78571em;
                    margin-bottom: 0.71429em;
                }
            }
        }
        .gift-card-component{
            margin-top: 1.5em;
            padding-bottom: 1.5em;
            border-bottom: 1px solid $Alto;
        }
    }
    .order-summary-price-wrapper {
        padding-top: 1.5em;
        border-bottom: 1px solid $Alto;
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                display: flex;
                .product-price{
                    font-weight: 500;
                    margin-left: auto;
                    color: $Tundora;
                }
            }
        }
    }
    .order-summary-total-price-wrapper{
        padding-top: 1.5em;
        display: flex;
        
        .grand-total {
            font-size: 1.14286em;
            color: $Tundora;
        }
        .price{
            margin-left: auto;
            .grand-total-currency {
                font-size: 0.85714em;
                vertical-align: 0.2em;
                margin-right: 0.5em;
                color: $Gray;
            }
            .grand-total-price{
                color: $Tundora;
                font-size: 1.71429em;
                font-weight: 500;
                letter-spacing: -0.04em;
                line-height: 1em;
            }
        }
    }
}
/*END: sidebar desktop*/

/*START: mobile sidebar*/
.mobile-sidebar {
    margin-top: 1.5em;
    cursor: pointer;
    .mobie-sidebar-wrapper {

        .sidebar-header {
            width: 100%;
            background-color:$Alabaster;
            border-top: 1px solid $Mercury;
            border-bottom: 1px solid $Mercury;
            padding: 1.25em 0;
            .order-summary-wrapper {
                padding-right: 0.75em;
            }
            .order-summary-icon, .order-summary-accordion .order-summary-accordion-icon{
                fill: $AquaIsland;
                color: $AquaIsland;
                
            }
            .order-summary-text{
                color: $AquaIsland;
                padding-right: 0.25em;
                margin-bottom: 0;
            }
            &.collapsed{
                .order-summary-toggle-expanded {
                    display: none;
                }
                .order-summary-toggle-collapsed {
                    display: inline-flex;
                }
            }
            .order-summary-toggle-expanded {
                display: inline-flex;
            }
            .order-summary-toggle-collapsed {
                display: none;
            }
            .total-price{
                font-size: 1.28571em;
                line-height: 1em;
                color: $Tundora;
            }
        }

        .card.card-body {
            background-color: $Concrete;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $Alto;
        }
     }
     .sidebar-wrapper.component {
        .order-summary-header-wrapper{
            border-bottom: none;
            .gift-card-component{
                margin-top: 0;
            }
        }
        .order-summary-note-wrapper {
            .gift-card-component{
                margin-top: 0;
            }
        }
     }
}
/*END: mobile sidebar*/