footer.footer.component.md-view.mt-auto.mx-lg-0
    div
        ul.policy-list 
            li.policy-item
                a(title="Refund policy" href="#" data-toggle="modal" data-target="#refundPolicy") Refund policy
            li.policy-item
                a(title="Privacy policy" href="#" data-toggle="modal" data-target="#privatePolicy") Privacy policy
            li.policy-item
                a(title="Terms of service" href="#" data-toggle="modal" data-target="#tnc") Terms of service
    div#refundPolicy.modal.fade(tabindex='-1', role='dialog', aria-labelledby='refundPolicyLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h1#refundPolicyLabel.modal-title Refund policy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p
                        | Returns
                        br
                        | Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. *May be subject to restocking fee if the board has been ridden. You're responsible for return shipping costs. Board must not be abused or damaged. Return policy does not apply to engraved boards.
                    p
                        | To be eligible for a return, your item can be used but the you must now void the warranty (see manual for details). It must also be in the original packaging.
                    p To complete your return, we require a receipt or proof of purchase.
                    p
                        | Refunds (if applicable)
                        br
                        | Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
                    p
                        | If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
                    p
                        | Late or missing refunds (if applicable)
                        br
                        | If you haven’t received a refund yet, first check your bank account again.
                        br
                        | Then contact your credit card company, it may take some time before your refund is officially posted.
                        br
                        | Next contact your bank. There is often some processing time before a refund is posted.
                        br
                        | If you’ve done all of this and you still have not received your refund yet, please contact us at orders@boostedboards.com.
                    p
                        | Shipping
                        br
                        | To return your product, you should mail your product to: 915 Linda Vista Ave Mountain View California US 94043
                    p
                        | You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                    p
                        | Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
                    p
                        | If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
    div#privatePolicy.modal.fade(tabindex='-1', role='dialog', aria-labelledby='privatePolicyLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h1#privatePolicyLabel.modal-title Privacy policy
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p PRIVACY POLICY
                    p
                    | Welcome to the website of Boosted, Inc. (“Company,” “we,” or “us”).  This privacy policy (“Privacy Policy”) explains how we collect, use, disclose, and protect information that applies to our website and our smartphone application (collectively, our website and our smartphone application are referred to herein as the “Service”), and your choices about the collection and use of your information.
                    p
                    | 1.	HOW WE COLLECT AND USE INFORMATION
                    br
                    | We collect the following types of information about you:
                    br
                    | Information you provide us directly: We ask for certain information such as your first and last name, phone number, address, and e-mail when you purchase products on our website, download or use our smartphone application, or if you correspond with us.
                    p
                    | We use this information to operate, maintain, and provide to you the features and functionality of the Service, improve our products, as well as to communicate directly with you, such as to send you email messages. We may also send you emails, messages, or call you related to our products (e.g., order confirmations, technical and security notices).  For more information about your communication preferences, see “Your Choices Regarding Your Information” below.
                    p
                    | Use of cookies and other technology to collect information:  We automatically collect certain types of usage information when you visit the Service.  When you visit the Service, we may send one or more cookies — a small text file containing a string of alphanumeric characters — to your computer or smartphone that uniquely identifies your browser and lets us help you log in faster and enhance your navigation through the Service.  A cookie may also convey information to us about how you use the Service (e.g., the pages you view, the links you click, how frequently you access the Service, and other actions you take on the Service), and allow us to track your usage of the Service over time. We may collect log file information from your browser or mobile device each time you access the Service.  Log file information may include anonymous information such as your web request, Internet Protocol (“IP”) address, browser type, information about your mobile device, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information. We may employ clear gifs (also known as web beacons) which are used to anonymously track the online usage patterns of users on the Service.  In addition, we may also use clear gifs in HTML-based emails sent to our users to track which emails are opened and which links are clicked by recipients.  We may also collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends for the Service.  We may also collect data on your use of our products through our application, including board information and usage statistics.  These tools collect information sent by your browser or mobile device, including the pages you visit, your use of third party applications, and other information that assists us in improving the Service and our products.
                    p
                    | When you access the Service by or through a mobile device, we may receive or collect and store a unique identification numbers associated with your device (“Device ID”), mobile carrier, device type and manufacturer, phone number, and, depending on your mobile device settings, your geographical location data, including GPS coordinates (e.g. latitude and/or longitude) or similar information regarding the location of your mobile device.
                    br
                    | We use or may use the data collected through cookies, log file, device identifiers, location data and clear gifs information to:  (a) remember information so that you will not have to re-enter it during your visit or the next time you visit the site; (b) provide and monitor the Service; (c) monitor aggregate metrics such as total number of visitors, traffic, usage, and demographic patterns on the Service; (d) diagnose or fix technology problems; (e) updating our application on your mobile devices; and (f) otherwise to plan for and enhance the Service and products.
                    p
                    | 2.	SHARING OF YOUR INFORMATION
                    br
                    | We may share your personal information in the instances described below. For further information on your choices regarding your information, see the section below called, “Your Choices Regarding Your Information.”
                    br
                    | You agree that we may share your personal information with: 
                    br
                    | •	Other companies owned by or under common ownership as Company, which also includes our subsidiaries (i.e., any organization we own or control) or our ultimate holding company (i.e., any organization that owns or controls us) and any subsidiaries it owns.  These companies will use your personal information in the same way as we can under this Privacy Policy;
                    br
                    | •	Third party vendors, consultants and other service providers that perform services on our behalf, in order to carry out their work for us, or as approved by you which may include identifying and serving targeted advertisements, content or service fulfillment, financing, payment processing, or providing analytics services;
                    br
                    | •	Other parties in connection with any company transaction, such as a merger, sale of company assets or shares, reorganization, financing, change of control or acquisition of all or a portion of our business by another company or third party or in the event of bankruptcy or related or similar proceedings; and
                    br
                    | •	Third parties as required to (i) satisfy any applicable law, regulation, subpoena/court order, legal process or other government request, (ii) enforce our rights with respect to the sale of our products, including the investigation of potential violations thereof, (iii) investigate and defend ourselves against any third party claims or allegations, (iv) protect against harm to the rights, property or safety of Company, its users or the public as required or permitted by law, and (v) detect, prevent or otherwise address criminal (including fraud), security or technical issues.
                    p
                    | 3.	HOW WE STORE AND PROTECT YOUR INFORMATION
                    br
                    | Storage and Processing:  Your information collected through the Service may be stored and processed in the United States or any other country in which Company or its subsidiaries, affiliates or service providers maintain facilities. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction, and you consent to the transfer of information to the U.S. or any other country in which Company or its parent, subsidiaries, affiliates or service providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.
                    p
                    | Keeping your information safe:  Company cares about the security of your information, and uses commercially reasonable safeguards to preserve the integrity and security of all information collected through the Service.  To protect your privacy and security, we take reasonable steps to verify your identity.  You are responsible for controlling access to your email communications from Company, at all times.  However, Company cannot ensure or warrant the security of any information you transmit to Company or guarantee that information provided by you the Service may not be accessed, disclosed, altered, or destroyed.  Your privacy settings may also be affected by changes to the functionality of third party sites and services available through the Service.  Company is not responsible for the functionality or security measures of any third party.
                    p
                    | Compromise of information:  In the event that any information under our control is compromised as a result of a breach of security, Company will take reasonable steps to investigate the situation and where appropriate, notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.
                    p
                    | 4.	YOUR CHOICES ABOUT YOUR INFORMATION
                    br
                    | Commercial and marketing communications: We use the information we collect or receive to communicate directly with you.  We may send you emails containing newsletters, promotions and special offers.  If you do not want to receive such email messages, you will be given the option to opt out or change your preferences.  We also use your information to send you email related to our products the Service (e.g., purchase and billing confirmations and reminders, changes/updates to features our products, technical and security notices.
                    p
                    | You control your account information and settings:  You can stop receiving promotional email communications from us by clicking on the “unsubscribe link” provided in such communications.  We make every effort to promptly process all unsubscribe requests.  You may not opt out of emails related to purchases of our products (e.g., purchase and billing confirmations and reminders, changes/updates to features of our products, technical and security notices).  If you have any questions about reviewing or modifying your account information, you can contact us directly at community@boostedboards.com.
                    p
                    | Online Advertising:  We may permit third party online advertising networks to collect information about your use of our website over time so that they may display ads that may be relevant to your interests on our website as well as on other websites or apps.  Typically, the information collected for this purpose is collected through cookies or similar tracking technology.  The only way to completely opt out of the collection of any information through cookies or other tracking technology is to actively manage the settings on your browser or mobile device.  Please refer to your mobile device or browser’s technical information for instructions on how to delete and disable cookies, and other tracking/recording tools.  (To learn more about cookies, clear gifs/web beacons and related technologies, you may wish to visit http://www.allaboutcookies.org and/or the Network Advertising Initiative’s online resources, located at http://www.networkadvertising.org). Depending on your type of device, it may not be possible to delete or disable tracking mechanisms on your mobile device. Note that disabling cookies and/or other tracking tools prevents Company or its business partners from tracking your browser’s activities in relation to our website, and for use in targeted advertising activities by third parties.  However, doing so may disable many of the features available through our website.  If you have any questions about opting out of the collection of cookies and other tracking/recording tools, you can contact us directly at community@boostedboards.com.
                    p
                    | How long we keep your information:  Company may retain your information that you have provided for a commercially reasonable time for backup, archival, or audit purposes.
                    p
                    | 5.	"DO NOT TRACK"
                    br
                    | Although we do our best to honor the privacy preferences of our customers, we are not able to respond to Do-Not-Track signals from your browser at this time.  As discussed above, we track website usage information through the use of cookies for analytic and internal purposes only.  Because we do not collect this information to track you across websites over time, your selection of the “Do Not Track” option provided by your browser will not have any effect on our collection of cookie information for analytics or internal purposes.
                    p
                    | 6.	CHILDREN’S PRIVACY
                    br
                    | Company does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register as users of the Service.  The Service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible.  If you believe that we might have any information from or about a child under 13, please contact us at community@boostedboards.com.
                    p
                    | 7.	LINKS TO OTHER WEB SITES AND SERVICES
                    br
                    | We are not responsible for the practices employed by websites or services linked to or from the Service, including the information or content contained therein.  Please remember that when you use a link to go from our website to another website, our Privacy Policy does not apply to third-party websites or services.  Your browsing and interaction on any third-party website or service, including those that have a link or advertisement on the Service, are subject to that third party’s own rules and policies.  In addition, you agree that we are not responsible for and we do not have any control over any third-parties that you authorize to access your information. If you are using a third-party website or service (like Facebook) and you allow such a third-party access to your information you do so at your own risk.  This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources other than through the Service.
                    p
                    | 8.	HOW TO CONTACT US
                    br
                    | If you have any questions about this Privacy Policy or the Service, please contact us at community@boostedboards.com.
                    p
                    | 9.	CHANGES TO OUR PRIVACY POLICY
                    br
                    | Company may modify or update this Privacy Policy from time to time to reflect the changes in our business and practices, and so you should review this page periodically.  When we change the policy in a material manner we will let you know and update the ‘last modified’ date at the bottom of this page.
                    p
                    | This Privacy Policy was last modified on May 19, 2016.
    div#tnc.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tncLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h1#tncLabel.modal-title Terms of service
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p TERMS OF SERVICE
                    p -----
                    p OVERVIEW
                    p
                    | This website is operated by Boosted. Throughout the site, the terms “we”, “us” and “our” refer to Boosted. Boosted offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
                    p
                    | By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply  to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
                    p
                    | Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
                    p
                    | Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.
                    p
                    | Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.
                    p SECTION 1 - ONLINE STORE TERMS
                    p
                    | By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                    br
                    | You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
                    br
                    | You must not transmit any worms or viruses or any code of a destructive nature.
                    br
                    | A breach or violation of any of the Terms will result in an immediate termination of your Services.
                    p SECTION 2 - GENERAL CONDITIONS
                    p
                    | We reserve the right to refuse service to anyone for any reason at any time.
                    br
                    | You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
                    br
                    | You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
                    br
                    | The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
                    p SECTION 3 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION
                    p
                    | We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.
                    br
                    | This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.
                    p SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES
                    p
                    | Prices for our products are subject to change without notice.
                    br
                    | We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.
                    br
                    | We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
                    p SECTION 5 - PRODUCTS OR SERVICES (if applicable)
                    p
                    | Certain products or services may be available exclusively online through the website. These products or services may have limited quantities and are subject to return or exchange only according to our Return Policy.
                    br
                    | We have made every effort to display as accurately as possible the colors and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any color will be accurate.
                    br
                    | We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at anytime without notice, at the sole discretion of us. We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site is void where prohibited.
                    br
                    | We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.
                    p SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION
                    p
                    | We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.
                    p
                    | You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.
                    p For more detail, please review our Returns Policy.
                    p SECTION 7 - OPTIONAL TOOLS
                    p
                    | We may provide you with access to third-party tools over which we neither monitor nor have any control nor input.
                    br
                    | You acknowledge and agree that we provide access to such tools ”as is” and “as available” without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.
                    br
                    | Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s).
                    br
                    | We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service.
                    p SECTION 8 - THIRD-PARTY LINKS
                    p
                    | Certain content, products and services available via our Service may include materials from third-parties.
                    br
                    | Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.
                    br
                    | We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.
                    p SECTION 9 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS
                    p
                    | If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.
                    br
                    | We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
                    br
                    | You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.
                    p SECTION 10 - PERSONAL INFORMATION
                    p
                    | Your submission of personal information through the store is governed by our Privacy Policy. To view our Privacy Policy.
                    p SECTION 11 - ERRORS, INACCURACIES AND OMISSIONS
                    p
                    | Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).
                    br
                    | We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.
                    p SECTION 12 - PROHIBITED USES
                    p
                    | In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
                    p SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY
                    p
                    | We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free.
                    br
                    | We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
                    br
                    | You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.
                    br
                    | You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.
                    br
                    | In no case shall Boosted, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.
                    p SECTION 14 - INDEMNIFICATION
                    p
                    | You agree to indemnify, defend and hold harmless Boosted and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.
                    p SECTION 15 - SEVERABILITY
                    p
                    | In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.
                    p SECTION 16 - TERMINATION
                    p
                    | The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.
                    br
                    | These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site.
                    br
                    | If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).
                    p SECTION 17 - ENTIRE AGREEMENT
                    p
                    | The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.
                    br
                    | These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).
                    br
                    | Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
                    p SECTION 18 - GOVERNING LAW
                    p
                    | These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of 915 Linda Vista Ave Mountain View California US 94043.
                    p SECTION 19 - CHANGES TO TERMS OF SERVICE
                    p
                    | You can review the most current version of the Terms of Service at any time at this page.
                    br
                    | We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.
                    p SECTION 20 - CONTACT INFORMATION
                    p
                    | Questions about the Terms of Service should be sent to us at orders@boostedboards.com.
                    p --------------------------------------