div.main-header.component.md-view.mx-lg-0
    div
        img.brand-logo(src='assets/images/logo/boosted-logo.png')
    div.breadcrumb-wrapper.d-none.d-md-none.d-lg-block
        ul.breadcrumb
            li.customerInfo.breadcrumb-item.breadcrumb-selection.breadcrumb-active
                span Customer information
            li.shippingMethod.breadcrumb-item.breadcrumb-selection
                svg.icon-svg.icon-svg--size-10.breadcrumb__chevron-icon.rtl-flip(focusable='false', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10 10')
                    path(d='M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4')
                span Shipping method
            li.paymentMethod.breadcrumb-item.breadcrumb-selection
                svg.icon-svg.icon-svg--size-10.breadcrumb__chevron-icon.rtl-flip(focusable='false', aria-hidden='true', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10 10')
                    path(d='M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4')
                span Payment method