div.sidebar-wrapper.component.md-view
	div.order-summary-header-wrapper
		div.product-img-wrapper
			img.product-img(src="http://cdn.shopify.com/s/files/1/0325/7933/products/dual-plus-boosted-board-extended_d72bb4be-c5c0-4d18-b3a5-0833c329d367_small.png?16051232370647464878")
			span.product-quantity 1
		div.product-description-wrapper
			span.product-name 2nd Gen Boosted Dual+ with Extended Range Battery
			span.product-desc NA / Ships in 3-5 business days
		div.product-price-wrapper.ml-auto
			span.product-price $1,399.00
	div.order-summary-note-wrapper
		div.order-summary-note-component
			p.order-info-header 
				strong Notes about your order
			ul.more-info-list
				li.more-info-item 
					span 
						strong Limited Time Offer : 
					span
						| Looking for 
						img.note-thumbnail(src='https://cdn-assets.affirm.com/images/blue_logo-transparent_bg.png', alt='Affirm')
						|   0% APR financing?
				li.more-info-item
					span Your board will ship in 3-5 business days.
		div.gift-card-component
			a.gift-card-text(href='#') Hava a gift card?
	div.order-summary-price-wrapper
		ul
			li
				p Subtotal
				p.product-price $1,399.00
			li
				p Shipping
				p.product-price —
	div.order-summary-total-price-wrapper
		p.grand-total Total
		p.price
			span.grand-total-currency USD
			span.grand-total-price $1,399.00